<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Console
        </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body align=center>
        <div class="row">
            <div class="col-md-3">
                <legend><h1>Hola, <strong>{{ data.name }}</strong></h1></legend>
            </div>
            <div class="col-md-7"><br><br><legend>&nbsp;</legend></div>
            <div class="col-md-2"><br>
                <button type="button" class="btn btn-primary" onclick="location.href='http://127.0.0.1:5000/signin'">Sign Out</button>
                <button type="button" class="btn btn-primary" onclick="location.href='http://127.0.0.1:5000/settings/{{ data.user }}'">Change Settings</button><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <p align=left> <legend>Your details are:</legend></p>
                <p align=left> User Name: <strong>{{ data.user }}</strong></p>
                <p align=left> Password: <strong>{{ data.password }}</strong></p>
                <p align=left> Role: <strong>{{ data.role }}</strong></p>
                <p align=left> Gender: <strong>{{ data.gender }}</strong></p><br>
            </div>
            <div class="col-md-9"></div>
        </div>
        {% if role == 'Administrator' %}
        <p><legend>User Log:</legend></p>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table table-bordered" align="center">
                    <tr class="active">
                        <th class="info">Name</th>
                        <th class="info" class="info" class="info" class="info">User Name</th>
                        <th class="info" class="info" class="info">Password</th>
                        <th class="info" class="info">Gender</th>
                        <th class="info">Role</th>
                    </tr>
                    {% for user in res.items() %}
                    <tr class="active">
                        <td class="active">{{ user[1]['name'] }}</td>
                        <td class="active">{{ user[0] }}</td>
                        <td class="active">{{ user[1]['password'] }}</td>
                        <td class="active">{{ user[1]['gender'] }}</td>
                        <td class="active">{{ user[1]['role'] }}</td>
                    </tr>
                    {% endfor %}
                    <br>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>
        {% endif %}
    </body>
</html>
