<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Openlabs Home
        </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body align=center>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <legend>
                    <h1>
                        <strong>OPENLABS</strong> Login
                    </h1>
                </legend>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p align="left">
                    This is the User Account Portal of Openlabs Technologies and Consulting (P) Limited. The user can <mark>Sign In</mark>, <mark>Sign Up</mark> and manage their accounts and modify their existing details.
                    You can create new account by clicking on the <mark>Sign In</mark> button, If you are existing user, then click on the <mark>Sign Up</mark> button to open and manage your account.
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <button type="button" class="btn btn-primary" onclick="location.href='signup'">Sign Up</button>
                <button type="button" class="btn btn-success" onclick="location.href='signin'">Sign In</button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </body>
</html>