<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Openlabs SignIn
        </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body align=center>
        <body align=center>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><legend><h1><strong>OPENLABS</strong> Sign In</h1></legend></div>
            <div class="col-md-4"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form class="form-horizontal" action="http://127.0.0.1:5000/login_status" method="post">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="name">USER NAME</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" name="uname" placeholder="Enter your User name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="pwd">PASSWORD</label>
                        <div class="col-xs-7">
                            <input type="password" class="form-control" name="pwd" placeholder="Enter your password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-8">
                            <input type="submit" class="btn btn-success" value="Sign In">
                            <input type="reset" class="btn btn-danger" value="Reset">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </body>
</html>