<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% if tag == 'sign_up' %}
              Sign Up
            {% else %}
              Sign In
            {% endif %}
        </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body align=center>
        <div class="row">
            <div class="col-md-4"></div>
            {% if tag == 'sign_up' %}
              <div class="col-md-4"><legend><h1><strong>OPENLABS</strong> Sign Up</h1></legend></div>
            {% else %}
              <div class="col-md-4"><legend><h1><strong>OPENLABS</strong> Sign In</h1></legend></div>
            {% endif %}
            <div class="col-md-4"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% if tag == 'sign_up' %}
                  <form class="form-horizontal" action="http://127.0.0.1:5000/status" method="post">
                {% else %}
                   <form class="form-horizontal" action="http://127.0.0.1:5000/login_status" method="post">
                {% endif %}
                {% if tag == 'sign_up' %}
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="name">NAME</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" name="name" placeholder="Enter your Name">
                        </div>
                    </div>
                {% endif %}
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="uname">USER NAME</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" name="uname" placeholder="Enter your user name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="pwd">PASSWORD</label>
                        <div class="col-xs-7">
                            <input type="password" class="form-control" name="pwd" placeholder="Enter your password">
                        </div>
                    </div>
                 {% if tag == 'sign_up' %}
                    <div class="form-group">
                        <label class="control-label col-xs-3">GENDER</label>
                        <div class="col-xs-2">
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="male"> Male
                            </label>
                        </div>
                        <div class="col-xs-2">
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="female"> Female
                            </label>
                        </div>
                        <div class="col-xs-3">
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="other"> Other
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">ROLE</label>
                        <div class="col-xs-5">
                            <select class="form-control" name="role">
                                <option>Administrator</option>
                                <option>Basic User</option>
                                <option>Premium User</option>
                                <option>Guest User</option>
                            </select>
                        </div>
                    </div>
                 {% endif %}

                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-8">
                            <input type="submit" class="btn btn-success" value="Submit">
                            <input type="reset" class="btn btn-danger" value="Reset">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div></div>
        </div>
    </body>
</html>
