<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Openlabs Status
        </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body align=center>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <legend><h1><strong>{{ message }}</strong></h1></legend>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <button type="button" class="btn btn-primary" onclick="location.href='signup'">Sign Up</button>
                <button type="button" class="btn btn-success" onclick="location.href='signin'">Sign In</button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </body>
</html>